{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block pagename %}
<script>
  var pagetitle = "SearchResultPage";
</script>
{% endblock pagename %}
{% block main-content %}<div class="container-fluid" style="margin-top: 89px;" id="product_list_page">
    <div class="row">
     <div class="col-sm-12 py-2 mt-3">
      <div class="container-fluid">
          <div class="row" id="cat_products_card_container">
              <!-- row start -->
              <!-- <div class="col-sm-4" id="product_list_card">
                   card start 
               <div class="card" style="width: 15rem;">
                   <a href=""><img src="http://192.168.42.63:8000/media/productimg/Redmi_9_Power.jpg" class="card-img-top" alt="..."></a>
                   <div class="card-body">
                     <p class="text-center" id="card_title">Card title dfdhhhghhjk</p>
                     <p class="card-text text-center" id="pro_list_card_checked_price"><i class="fas fa-rupee-sign"></i> 19000 </p>
                     <p class="card-text text-center" id="pro_list_card_text"><i class="fas fa-rupee-sign"></i> 19000 </p>
                   </div>
                 </div>
                  card end 
              </div> -->
        
           
          <!-- row end -->
          </div>
      </div>
    
     </div>
    </div>
   </div>
{% endblock main-content %}